{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Fort Oak</h1>
        </div>
    </div>
    <hr>
    <p>
        <img style="max-width: 100%; height: auto" src="/static/images/trail.jpg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo posuere, dapibus ex quis, ultricies lacus.
        Suspendisse lacinia dictum mollis. Curabitur dictum odio vel elementum vehicula. Maecenas efficitur nunc quis
        sem pulvinar, et semper velit tristique. Integer hendrerit lorem erat, quis pulvinar velit vehicula vel. Fusce
        id purus vitae elit scelerisque laoreet. Donec finibus dolor vitae nisl egestas rhoncus. Etiam tristique ipsum
        ac mauris bibendum mollis. Donec tempor arcu a pharetra lobortis. Aenean non molestie neque. Suspendisse commodo
        auctor luctus. Fusce pretium facilisis elit sed aliquet. Sed quis volutpat justo. Phasellus fermentum fermentum
        libero a laoreet.

        Duis quam lectus, malesuada in ultrices sit amet, congue eleifend metus. Morbi condimentum vel magna eget
        elementum. Integer in orci eget eros venenatis facilisis sit amet nec arcu. Morbi auctor a est nec congue. Nulla
        aliquam vel sem nec posuere. Donec finibus magna neque, sed dictum felis mollis ac. Praesent eget maximus lorem,
        at facilisis massa. Donec facilisis nisl quis nisl volutpat fermentum. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Duis consequat ipsum erat, et sollicitudin metus ultricies nec.
        Quisque ut vulputate nulla. Nulla dapibus consectetur interdum. Vestibulum pharetra tempus magna, a congue dolor
        suscipit ac. Suspendisse at lacinia sem. Suspendisse potenti. In eu tellus sit amet enim sagittis semper at sit
        amet magna.

        Pellentesque pretium consequat massa, sit amet efficitur felis porta et. Nullam ullamcorper euismod sapien et
        luctus. Proin augue enim, tempus ac mi et, dictum imperdiet nisl. Pellentesque suscipit lectus ut auctor
        ultricies. Donec pretium, augue et sagittis commodo, neque sem commodo tortor, et faucibus sem ipsum vel nisl.
        Quisque non dui felis. Nam vel justo at metus scelerisque congue. Aliquam ut magna id purus consequat vulputate.
        Donec a condimentum risus, nec mollis leo. Vestibulum auctor feugiat venenatis.

        Suspendisse metus nisl, ornare quis tellus id, aliquet posuere ex. Nam ornare ac leo et pretium. Morbi porta
        elementum quam at pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Praesent porttitor odio ut arcu faucibus tincidunt. Vestibulum non gravida nulla. In hac habitasse platea
        dictumst. Praesent iaculis non elit eget porta. Integer ut justo metus. Mauris purus dui, posuere eu lectus
        eget, aliquam semper ex. Cras malesuada vitae nulla vitae malesuada.

        Cras pellentesque quam a augue eleifend euismod. Aenean tristique risus hendrerit cursus interdum. Ut blandit
        fermentum magna, eget egestas sapien pellentesque vitae. Cras volutpat pretium commodo. Phasellus vitae ultrices
        massa. Nullam ullamcorper quam ac turpis dapibus faucibus. Quisque euismod magna quis ornare consectetur. Duis
        vel metus nulla. Suspendisse eget mattis arcu. Aliquam erat volutpat. Cras quis tortor tempus, scelerisque
        lectus accumsan, scelerisque tellus. Vivamus auctor nec neque eget rhoncus. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Suspendisse nisi justo, rutrum a ultricies mattis,
        convallis vitae sem. Aliquam id arcu auctor dui faucibus commodo eu eu mi.
    </p>
</div>

{{end}}