{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Contact Us</h1>
        </div>
    </div>
    <hr>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11337.310476513925!2d-77.166667!3d44.73333245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cd30532e29fefcd%3A0xfa095f637a2d456b!2sNorthbrook%2C%20ON%20K0H%202G0!5e0!3m2!1sen!2sca!4v1685764085846!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

{{end}}